# debug config. not used for compilation through scripts!
CompileFlags:
  Compiler: x86_64-w64-mingw32-g++
  Add:
  - -D_WIN32_WINNT=0x0A00
  - -DWINVER=0x0A00
  - --target=x86_64-w64-windows-gnu
  - -std=c++17
  - -stdlib=libstdc++
  - --gcc-toolchain=/usr/lib/gcc/x86_64-w64-mingw32/14-posix
  # forcibly include standard include locations from mingw, g++, 
  - -isystem
  - /usr/lib/gcc/x86_64-w64-mingw32/14-posix/include/c++
  - -isystem
  - /usr/lib/gcc/x86_64-w64-mingw32/14-posix/include/c++/x86_64-w64-mingw32
  - -isystem
  - /usr/lib/gcc/x86_64-w64-mingw32/14-posix/include/c++/backward
  - -isystem
  - /usr/lib/gcc/x86_64-w64-mingw32/14-posix/include
  - -isystem
  - /usr/lib/gcc/x86_64-w64-mingw32/14-posix/include-fixed
  - -isystem
  - /usr/x86_64-w64-mingw32/include
  - -isystem
  - /usr/lib/gcc/x86_64-w64-mingw32/14-posix/../../../../x86_64-w64-mingw32/include
  # and mingw32 defines
  - -D__MINGW32__
  - -D__MINGW64__
  - -D_WIN32
  - -D_WIN64
  - -D__MSVCRT__
